<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <div class="container mt-3">
      <% if user_signed_in? %>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger float-right', form: { data: { turbo: false } } %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
